@charset "UTF-8";

/*
    em HTML é id        =       em CSS é #
    em HTML é class     =       em CSS é .
*/

body{
    background-color: #d6fde9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color: #1e402f;
}

h2{
    color: #3c805e;
}

h1#principal{
    text-align: center;
    background-color: #3c805e;
    color: white;
}

.basico{
    color: #3c805e;
}

.intermediario{
    color: #80793c;
}

.avancado{
    color: #803c3c;
}

.destaque{
    background-color: #c5c56070;
}