@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'bubblegum';
    src: url(../pacotes/projeto-glass-html5/_fonts/bubblegum-sans-regular.otf);
}
@font-face {
    font-family: 'computer';
    src: url(../pacotes/projeto-glass-html5/_fonts/computer-font.ttf);
}

body {
    background-color: #ddd;
    color: rgba(0, 0, 0, 1);
    font-family: Arial, Helvetica, sans-serif;
}

#interface {
    width: 900px;
    background-color: white;
    margin: 0px auto 10px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: -20px;
    position: relative;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    text-decoration: none;
    color: #606060;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url('../pacotes/projeto-glass-html5/_imagens/glass-logo-peq.jpg') no-repeat 0px 80px;
}

#cabecalho h1 {
    font-family: 'bubblegum', sans-serif;
    font: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

#cabecalho h2 {
    font-family: 'Titillium Web',cursive;
    color: #888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

#icone {
    position: absolute;
    right: -80px;
    top: 70px;
}

#menu {
    display: block;
}

#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    right: 5px;
    margin-top: 10px;
}

#menu li {
    display: inline-block;
    background-color: #ddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

#menu li:hover {
    background-color: #606060;
}

#menu h1 {
    display: none;
}

#menu a {
    color: #000;
    text-decoration: none;
}

#menu a:hover {
    color: #fff;
    text-decoration: underline;
}

#corpo {
    display: block;
    width: 500px;
    float: left;
    padding-right: 25px;
    border-right: 1px solid #606060;
}

#corpo-full {

}

#noticia-principal h2{
    font-size: 13pt;
    color: #606060;
    background: #ddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px;
}

#cabecalho-artigo h1 {
    font-family: 'bubblegum', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
}

#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
}

#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;

}

#cabecalho-artigo .direita {
    text-align: right;
}

#tabela-spec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

#tabela-spec caption {
    color: #888;
    font-size: 13pt;
    font-weight: bolder;
}

#tabela-spec span {
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}

#tabela-spec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.coluna-e {
    background-color: #606060;
    color: white;
    vertical-align: top;
    font-weight: bold;
}

.coluna-d {
    background-color: #cecece;
}

#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #ddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#lateral h1 {
    font-family: 'bubblegum', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: white;
    padding: 5px;
}

.foto-legenda {
    border: 8px solid white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

.foto-legenda img {
    width: 100%;
    height: 100%;
}

.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.foto-legenda:hover figcaption {
    opacity: 1;
}

#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

#rodape p {
    text-align: center;
}